<h3>Coding Dojo Wall</h3>
<h2> Welcome <%=@user.username%> </h2>

<h3>Post a Message</h3>
<% if flash[:err] %>
  <% flash[:err].each do |errs| %>
    <p><%= errs %></p>
  <% end %>
<% end %>
<form action='/messages' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea name='content'></textarea>
  <input type='submit' value='Post a Message'>
</form>

  <% @messages.each do |message|%>
  <h4><%=message.user.username%>-<%= message.created_at.strftime('%b %d, %Y') %></h4>
    <p><%=message.content %> </p>
    <% @comments.each do |comment| %>
      <% if comment.message_id == message.id %>
        <h4 style= 'margin-left:30px;'><%= comment.user.username%>: </h4>
        <p style= 'margin-left:30px;'><%=comment.content %></p>
        <%end%>
      <% end %>

  <form action='/comments' method='post'>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="message_id" value="<%= message.id %>">
    <textarea name='content'></textarea>
    <input type='submit' value='Post a Comment'>
  </form>
  <% end%>

<a href='/'>Log Out</a>
