<h1>
<%= @dojo.branch %>
<%=@student.first_name %>
<%=@student.last_name%>
</h1>
<h3><%=@student.email %></h3>

<h2>Cohort</h2>
<a href='/'> Home</a> | <a href='/<%=@dojo.id%>/students/<%=@student.id%>/edit'>Edit</a>
