<h2><%=@event.name%></h2>

<p> Host: <%=@event.user.first_name%></p>
<p> Date: <%=@event.date %></p>
<p> Location: <%=@event.location%></p>
<p> Number of attendees: <%=@event.attendees.count%></p>

<table>
  <thead>
    <tr>
      <th>Attendee's Name</th>
      <th>Location</th>
      <th>State</th>
    </tr>
  </thead>
  <% @event.users.each do |ppl| %>
    <tr>
      <td><%=ppl.first_name%></td>
      <td><%=ppl.location%></td>
      <td><%=ppl.state%></td>
    </tr>
  <% end %>
</table>

<div>
<fieldset>
<legend>Discussion about this event</legend>
  <% @event.discussions.each do |chat| %>
  <p><h4><%=chat.user.first_name%> says: </h4> <%= chat.content %></p>
  <% end %>
</fieldset>
<fieldset>
<p>Add Comment</p>
<form action='/events/<%=@event.id%>' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea name='content'></textarea>
  <input type='submit' value='Submit Comments'>
  </form>
</fieldset>
</div>
